body {
  background-color:black;
  font-family:arial;
  color:white
  }

h1 {
  color:grey;
  font-family:verdana;
  text-align: center;
  }

.maindiv {
    background-color:white;
    width: 55%;
    height: 60vh;
    color:black;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
}

td {
  padding-bottom: 0.5rem;
}

table{
  margin: 0 auto;
}

/*label, input, button {
 margin-left: 1rem;
 margin-top: 0.5rem;
}

 #principal, #rate, #years {
 margin-left: 4rem;
}*/
