body {
  background-color:black;
  font-family:arial;
  color:white
  }

h1 {
  color:grey;
  font-family:verdana;
  text-align: center;
  }

.maindiv {
    background-color:white;
    width: 60%;
    height: 45%;
    color:black;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
}

td {
  padding-bottom: 0.5rem;
}

table{
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  td, .maindiv {
    width: 60%;
    height: 45%;
    margin-top: 0;
  }
}


/*label, input, button {
 margin-left: 1rem;
 margin-top: 0.5rem;
}

 #principal, #rate, #years {
 margin-left: 4rem;
}*/
