body {background-color:black;font-family:arial;color:white}

h1{color:grey;font-family:verdana}

.maindiv {
    background-color:white;
    width: 45%;
    height: 45vh;
    color:black;
    padding: 20px;
    border-radius: 25px;
    align-content:center;
    margin: 0 auto;
}


/*.maindiv label { 
        display: inline-block;
        text-align: left;
        float: left;}
        
 #principal, #rate, #years{
     display: inline-block;
        float: right;
        margin-left: 25%;
        margin-bottom: 20px;
           }
*/
